@model SOFT703.Models.ViewModels.Contracts.IUserDetailViewModel

@{
    ViewBag.Title = "User Detail";
    Layout = "_Layout"; // Set your layout page here
}
<h2>User Information</h2>
<div>
    <p>
        <strong>Username:</strong> @Model.User.UserName
    </p>
    <p>
        <strong>Email:</strong> @Model.User.Email
    </p>
    <p>
        <strong>Phone:</strong> @Model.User.PhoneNumber
    </p>
    <p>
        <strong>First Name:</strong> @Model.User.FirstName
    </p>
    <p>
        <strong>Last Name:</strong> @Model.User.LastName
    </p>
</div>

<h2>Money Sent</h2>
<table class="table">
    <thead>
    <tr>
        <th>Amount</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Amount Converted</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            <td>@transaction.Amount</td>
            <td>@transaction.Exchange.SenderCountry.Name</td>
            <td>@transaction.Exchange.ReceiverCountry.Name</td>
            <td>@transaction.AmountConverted</td>
            <td>@transaction.TransactionDate</td>
        </tr>
    }
    </tbody>
</table>

<h2>Handicraft Purchases</h2>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Total</th>

    </tr>
    </thead>
    <tbody>
    @foreach (var trolley in Model.Trolleys)
    {
        @if (!trolley.IsCurrent)
        {
            <tr>
                <td>@trolley.TransactionDate</td>
                <td>@trolley.Total</td>
            </tr>
        }
    }
    </tbody>
</table>