@model SOFT703.Models.ViewModels.Contracts.IMarketPlaceViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-8">
        <!-- Catalog -->
        <div class="row">
            @foreach (var product in Model.Catalog)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="@product.Photo" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price: $@product.Price</p>
                            <p class="card-text">In Stock: @product.Stock</p>
                        </div>
                        <a href="@Url.Action("AddToTrolley", "MarketPlace", new { productId = product.Id})" class="btn btn-primary">Add</a>

                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <!-- Trolley -->
        <h3>Trolley</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>SubTotal</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.CurrentTrolley.ProductXTrolleys)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Quantity * item.Product.Price)</td>
                    <td>
                        <a href="@Url.Action("RemoveItem", "MarketPlace", new { id = item.Product.Id })" class="btn btn-primary">-</a>
                        <a href="@Url.Action("AddToTrolley", "MarketPlace", new { productId = item.Product.Id })" class="btn btn-primary">+</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <p>Total: $@Model.CurrentTrolley.Total</p>
        <a href="@Url.Action("CheckOut", "MarketPlace", new { trolleyId = Model.CurrentTrolley.Id })" class="btn btn-primary">Checkout</a>
                
    </div>
</div>

